<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="styleSheet" th:href="@{/css/newSong.css}">

</head>
<body>
   <form action ="addSong" method="post">
   <label> Song name : </label>
   <input type = "text" name="name"/>
   <br/>
  
   <label> Song genre : </label>
   <input type = "text" name="genre"/>
   <br/>
   
   <label> Song artist: </label>
   <input type = "text" name="artist"/>
   <br/>
   
   <label> Song link  : </label>
   <input type = "text" name="Link"/>
   <br/>
   <input type="submit" value="ADD SONG"/>
   
   </form>
</body>
</html>